        <footer>
            <div class="social"><a href="https://www.instagram.com/sellbooksupyo/" target="_blank"><i class="icon ion-social-instagram"></i></a><a href="https://www.instagram.com/sellbooksupyo/" target="_blank"><i class="icon ion-social-snapchat"></i></a><a href="https://twitter.com/sellbooksupyo" target="_blank"><i class="icon ion-social-twitter"></i></a><a href="https://www.facebook.com/Sellbooksup-102784028855148" target="_blank"><i class="icon ion-social-facebook"></i></a></div>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="/">Home</a></li>
                <li class="list-inline-item"><a href="/all-books">All Books</a></li>
                <li class="list-inline-item"><a href="/new-user">New User</a></li>
                <li class="list-inline-item"><a href="/login">Log In</a></li>
            </ul>
            <p class="copyright">SellBooksUp © 2021</p>
        </footer>
