<footer>
    <nav>
        <p>P: (555)-555-5555</p>
        <p>555 JavaScript Ave</p>
        <ul>
            <li><a href="">Social Icon 1</a></li>
            <li><a href="">Social Icon 2</a></li>
            <li><a href="">Social Icon 3</a></li>   
            <!-- CB: ADD STRING FOR LINK PATH -->                  
            <li><a href="/all-books">All Books</a></li>
            <li><a href="/new-user">New User</a></li>
            <li><a href="/login">Log In</a></li>                    
        </ul>
    </nav>
</footer>