<header>
    <nav>
        <a href="/">Book Store Logo</a>
        <ul>
            
            <li><a href="/all-books">All Books</a></li>
            <li><a href="/new-user">New User</a></li>
            <li><a href="/login">Log In</a></li>
        </ul>
    </nav>
    <img src="https://thumbs.dreamstime.com/b/book-shop-store-exterior-graphic-black-white-sketch-illustration-book-shop-store-exterior-graphic-black-white-sketch-illustration-118760020.jpg" alt="Our historic building" width="500" height="200">
</header>