<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet" href="/styles/main.css" />

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="/scripts/main.js" defer></script>

    <title>Home Page</title>
</head>
<body>
    <header>
        <nav>
            <a>Book Store Logo</a>
            <ul>
                <!-- CB: ADD STRING FOR LINK PATH -->
                <li><a href="/all-books">All Books</a></li>
                <li><a href="">New User</a></li>
                <li><a href="">Log In</a></li>
            </ul>
        </nav>
    </header>

        <main>
            <!-- <h1>Hello Project One</h1> -->
            <h2>---Image of bookstore full width---</h2>
            <!-- New Arrivals Div -->
            <div>
                <section>
                    <h3>New Arrivals</h3>
                    <p></p>              
                      <section class="imageSection">
                          <!-- href to GET route to /all-books/:id -->
                        <a href=""> <img src="" alt="">book image</img> </a>
                        <a href=""> <img src="" alt="">book image</img> </a>
                        <a href=""> <img src="" alt="">book image</img> </a>
                        <a href=""> <img src="" alt="">book image</img> </a>                   
                      </section>
                </section>
              </div>

            <!-- Best Sellers Div -->
            <div>
                <section>
                    <h3>Best Sellers</h3>
                    <p></p>                                
                      <section class="imageSection">
                          <!-- href to GET route to /all-books/:id -->
                        <a href=""> <img src="" alt="">book image</img> </a>
                        <a href=""> <img src="" alt="">book image</img> </a>
                        <a href=""> <img src="" alt="">book image</img> </a>
                        <a href=""> <img src="" alt="">book image</img> </a>  
                      </section>
                </section>
              </div>

            <!-- Staff Picks Div -->
            <div>
                <section>
                    <h3>Staff Picks</h3>
                    <p></p>              
                      <section class="imageSection">
                          <!-- href to GET route to /all-books/:id -->
                        <a href=""> <img src="" alt="">book image</img> </a>
                        <a href=""> <img src="" alt="">book image</img> </a>
                        <a href=""> <img src="" alt="">book image</img> </a>
                        <a href=""> <img src="" alt="">book image</img> </a>  
                      </section>
                </section>
              </div>

              <!-- Footer -->
              <footer>
                <nav>
                    <p>P: (555)-555-5555</p>
                    <p>555 JavaScript Ave</p>
                    <ul>
                        <li><a href="">Social Icon 1</a></li>
                        <li><a href="">Social Icon 2</a></li>
                        <li><a href="">Social Icon 3</a></li>   
                        <!-- CB: ADD STRING FOR LINK PATH -->                  
                        <li><a href="">Books</a></li>
                        <li><a href="">New User</a></li>
                        <li><a href="">Log In</a></li>                    
                    </ul>
                </nav>
              </footer>

        </main>
</body>
</html>

