<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs')%>
<body>
        <%- include('./partials/nav.ejs') %>

        <main>
            
            <h2>---Image of bookstore full width---</h2>

            <!-- New Arrivals Div -->
            <div>
                <section>
                    <h3>New Arrivals</h3>
                    <p></p>              
                      <section class="imageSection">
                          <!-- href to GET route to /all-books/:id -->
                        <a href=""> <img src="" alt="">book image</img> </a>
                        <a href=""> <img src="" alt="">book image</img> </a>
                        <a href=""> <img src="" alt="">book image</img> </a>
                        <a href=""> <img src="" alt="">book image</img> </a>                   
                      </section>
                </section>
              </div>

            <!-- Best Sellers Div -->
            <div>
                <section>
                    <h3>Best Sellers</h3>
                    <p></p>                                
                      <section class="imageSection">
                          <!-- href to GET route to /all-books/:id -->
                        <a href=""> <img src="" alt="">book image</img> </a>
                        <a href=""> <img src="" alt="">book image</img> </a>
                        <a href=""> <img src="" alt="">book image</img> </a>
                        <a href=""> <img src="" alt="">book image</img> </a>  
                      </section>
                </section>
              </div>

            <!-- Staff Picks Div -->
            <div>
                <section>
                    <h3>Staff Picks</h3>
                    <p></p>              
                      <section class="imageSection">
                          <!-- href to GET route to /all-books/:id -->
                        <a href=""> <img src="" alt="">book image</img> </a>
                        <a href=""> <img src="" alt="">book image</img> </a>
                        <a href=""> <img src="" alt="">book image</img> </a>
                        <a href=""> <img src="" alt="">book image</img> </a>  
                      </section>
                </section>
              </div>

              <!-- Footer -->
              <%- include('./partials/footer.ejs') %>

        </main>

                <!-- Required Bootstrap Scripts -->
        <!-- WILL NEED TO ADD ON END OF EACH VIEW FILE AS PER BS DOC. -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>



</body>
</html>

