<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs')%>
<body>
        <%- include('./partials/nav.ejs') %>

        <main>
            
            <h2>---Image of bookstore full width---</h2>

            <!-- New Arrivals Div -->
            <div>
                <section>
                    <h3>New Arrivals</h3>
                    <p></p>              
                      <section class="imageSection">
                          <!-- href to GET route to /all-books/:id -->
                        <a href=""> <img src="" alt="">book image</img> </a>
                        <a href=""> <img src="" alt="">book image</img> </a>
                        <a href=""> <img src="" alt="">book image</img> </a>
                        <a href=""> <img src="" alt="">book image</img> </a>                   
                      </section>
                </section>
              </div>

            <!-- Best Sellers Div -->
            <div>
                <section>
                    <h3>Best Sellers</h3>
                    <p></p>                                
                      <section class="imageSection">
                          <!-- href to GET route to /all-books/:id -->
                        <a href=""> <img src="" alt="">book image</img> </a>
                        <a href=""> <img src="" alt="">book image</img> </a>
                        <a href=""> <img src="" alt="">book image</img> </a>
                        <a href=""> <img src="" alt="">book image</img> </a>  
                      </section>
                </section>
              </div>

            <!-- Staff Picks Div -->
            <div>
                <section>
                    <h3>Staff Picks</h3>
                    <p></p>              
                      <section class="imageSection">
                          <!-- href to GET route to /all-books/:id -->
                        <a href=""> <img src="" alt="">book image</img> </a>
                        <a href=""> <img src="" alt="">book image</img> </a>
                        <a href=""> <img src="" alt="">book image</img> </a>
                        <a href=""> <img src="" alt="">book image</img> </a>  
                      </section>
                </section>
              </div>

              <!-- Footer -->
              <%- include('./partials/footer.ejs') %>

        </main>



</body>
</html>

