<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs')%>
<body>
    <%- include('./partials/nav.ejs') %>
        <main>
            <h2>---Image of bookstore full width---</h2>
            <h3>New Book Page</h3>
                <!-- As recommended: Form POST routes to /all-books, l8r to re-render /all-books/new-book -->
                <!-- CB: ADD STRING FOR LINK PATH -->
            <form action="/all-books" method="POST">
                <div>
                    <input type="text" id="title" name="title" placeholder="title" required>
                    <input type="text" id="author" name="author" placeholder="author" required>
                    <input type="text" id="price" name="price" placeholder="price" required>
                    <input type="text" id="image" name="image" placeholder="image url" required>

                    <!-- STRETCH for tags -->
                    <!-- <input type="text" id="tags" name="tags"> -->
                </div>
                <button>Submit</button>
                    <!-- Cancel POST routes to /all-books -->
                <button>Cancel</button>
            </form>

              <!-- Footer -->
              <%- include('./partials/footer.ejs') %>

        </main>
</body>
