<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet" href="/styles/main.css" />

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="/scripts/main.js" defer></script>

    <title>New Book</title>
</head>
<body>
    <header>
        <nav>
            <a>Book Store Logo</a>
            <ul>
                <!-- CB: ADD STRING FOR LINK PATH -->
                <li><a href="/all-books">All Books</a></li>
                <li><a href="">New User</a></li>
                <li><a href="">Log In</a></li>
            </ul>
        </nav>
    </header>

        <main>
            <h2>---Image of bookstore full width---</h2>
            <h3>New Book Page</h3>
                <!-- As recommended: Form POST routes to /all-books, l8r to re-render /all-books/new-book -->
                <!-- CB: ADD STRING FOR LINK PATH -->
            <form action="" method="POST">
                <div>
                    <input type="text" id="title" name="title" placeholder="title" required>
                    <input type="text" id="author" name="author" placeholder="author" required>
                    <input type="text" id="price" name="price" placeholder="price" required>
                    <input type="text" id="image" name="image" placeholder="image url" required>

                    <!-- STRETCH for tags -->
                    <!-- <input type="text" id="tags" name="tags"> -->
                </div>
                <button>Submit</button>
                    <!-- Cancel POST routes to /all-books -->
                <button>Cancel</button>
            </form>

              <!-- Footer -->
              <footer>
                <nav>
                    <p>P: (555)-555-5555</p>
                    <p>555 JavaScript Ave</p>
                    <ul>
                        <li><a href="">Social Icon 1</a></li>
                        <li><a href="">Social Icon 2</a></li>
                        <li><a href="">Social Icon 3</a></li>     
                        <!-- CB: ADD STRING FOR LINK PATH -->                
                        <li><a href="">Books</a></li>
                        <li><a href="">New User</a></li>
                        <li><a href="">Log In</a></li>                    
                    </ul>
                </nav>
              </footer>

        </main>
</body>
