<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head.ejs')%>

<body>

    <%- include('./partials/nav.ejs') %>

    <h1>New User</h1>

    <div>
        <form action='/' method='POST'>
            <label>Username</label> 
            <input class='input' type='text' placeholder='halIncandenza' name='username'><br>
            <label>Password</label>
            <input class='input' type='text' name='password'><br>
            <label>Name</label>
            <input class='input' type='text' placeholder='Hal Incandenza' name='name'><br>
            <button>Create User</button>
        </form> 
    </div>

    <%- include('./partials/footer.ejs') %>

</body>
</html>