<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head.ejs')%>

<body>

    <%- include('./partials/nav.ejs') %>

    <h1>New User</h1>

    <section class='form'>
        <div class='newUserForm'>
            <form action='/' method='POST'>
                <label>Name</label>
                <input class='input' type='text' placeholder='Hal Incandenza' name='name'><br>
                <label>Username</label> 
                <input class='input' type='text' placeholder='halIncandenza' name='username'><br>
                <label>Password</label>
                <input class='input' type='text' name='password'><br>
                <button class='createUserBtn'>Create User</button>
            </form> 
        </div>
    </section>
    <%- include('./partials/footer.ejs') %>
</body>
</html>