
<body>
    <h1>Login</h1>
    <button><a href='/new-user'>Create Account</a></button>

    <div class='usernameGrid'>
    <% for(let i = 0; i < user.length; i++) { %>

        <a href='/login/<%= user[i].id %>'>
        <p class='usernameTile'>@<%= user[i].username %></p>
        </a>

        <% } %>
    </div>

</body>
</html>